@import url('./match.css');

@import url('./results.css');

@import url('./beginTournament.css');

@import url('./treeTournament.css');

@import url('./gameConfig.css');

@import url('./parametre.css');

@import url('./error.css');

@import url('./login_signup.css');