.results-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 0;
  overflow: auto;
  box-sizing: border-box;
}

.winner-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}