.results-section 
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.winner-display{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}