<div class="container">
  <header class="arcade-header">
    <h1 class="arcade-title"><%= title %></h1>
    <p class="arcade-subtitle">Prépare ton tournoi et affronte les meilleurs !</p>
  </header>
  <div class="menu-wrapper">
    <nav class="menu-buttons">

    <!-- ICi on faire lorganisation d'un tableaux de tournoi sa sera 4 joueur dont on peut choisire leur pseudo -->
     <!-- Une fois qu'on as mis leur pseudo il yaura un bouton start tournament qui redirige vers une page treeTournament -->

    </nav>
  </div>
</div>