<div class="container">
  <header class="arcade-header">
    <h1 class="arcade-title error-code">Pas d'Erreur.</h1>
    <p class="arcade-subtitle error-description">Y a pas de probléme.</p>
  </header>

  <div class="error-content">
    <div class="error-image-container">
      <img src="/static/util/img/error_0.jpg" alt="Erreur" class="error-image" id="error-image">
    </div>
  </div>

</div>
