<div class="container">
  <header class="arcade-header">
    <h1 class="arcade-title error-code">Erreur 404</h1>
    <p class="arcade-subtitle error-description">Une erreur s'est produite</p>
  </header>

  <div class="error-content">
    <div class="error-image-container">
      <img src="/static/util/img/error_404.jpg" alt="Erreur" class="error-image" id="error-image">
    </div>
  </div>

</div>
