<div class="container">
  <header class="arcade-header">
    <h1 class="arcade-title"><%= title %></h1>
    <p class="arcade-subtitle">Le premier à 3 points gagne la partie</p>
  </header>
  <div class="menu-wrapper">
    <!-- definir la taille du canvas comme haut max qui peut avoir et largeur RATIO = 4 / 3 -->
    <canvas id="pong-canvas"></canvas>
  </div>
</div>
