<div class="container">
  <header class="arcade-header">
    <h1 class="arcade-title"><%= title %></h1>
    <p class="arcade-subtitle">Je dois faire Le match</p>
  </header>
  <button><a href="#" data-link="accueil">Page d'acueille</a></button>
  <button><a href="#" data-link="tournament">Créer un tournoi</a></button>
</div>
