<div class="container">
  <header class="arcade-header">
    <h1 class="arcade-title"><%= title %></h1>
    <p class="arcade-subtitle">Parametre du site</p>
  </header>

  <div class="menu-wrapper">
    <nav class="menu-buttons">


    </nav>
  </div>

</div>

