<div class="container">
  <header class="arcade-header">
    <h1 class="arcade-title"><%= title %></h1>
    <p class="arcade-subtitle">Voici la page profile DE :</p>
  </header>

<!-- ICI metre les information pour profile plus tard -->

</div>

