<div class="container">
  <header class="arcade-header">
    <h1 class="arcade-title"><%= title %></h1>
    <p class="arcade-subtitle">Je dois Afficher le resultat du match</p>
  </header>
  <div class="menu-wrapper">
    <nav class="menu-buttons">
      <button><a href="#" data-link="match">Jouer un match</a></button>
      <button><a href="#" data-link="tournament">Créer un tournoi</a></button>
    </nav>
  </div>
</div>