<div class="container">
  <header class="arcade-header">
    <h1 class="arcade-title"><%= title %></h1>
    <p class="arcade-subtitle">Voici les résultats de ton dernier match !</p>
  </header>
  <div class="menu-wrapper">
    <nav class="menu-buttons">

<!-- Dire qui a gagner son pseudo esaaye de recuperer les information du vainqueru -->
<!-- et proposer un bouton next -->
       <button data-link="">
        <span class="corner-top-right"></span><span class="corner-bottom-left"></span>
        <p>Next</p>
      </button>

    </nav>
  </div>
</div>