<div class="container">
  <header class="arcade-header">
    <h1 class="arcade-title"><%= title %></h1>
    <p class="arcade-subtitle">Je dois Afficher le resultat du match</p>
  </header>
  <div class="menu-wrapper">
    <nav class="menu-buttons">

      <button data-link="go_to_match">
        <span class="corner-top-right"></span><span class="corner-bottom-left"></span>
        <p>Jouer un match</p>
      </button>

      <button data-link="go_to_tournament">
        <span class="corner-top-right"></span><span class="corner-bottom-left"></span>
        <p>Créer un tournoi</p>
      </button>

    </nav>
  </div>
</div>