<div class="container">
  <header class="arcade-header">
    <h1 class="arcade-title"><%= title %></h1>
    <p class="arcade-subtitle">Je dois Afficher Le tournoi</p>
  </header>
  <div class="menu-wrapper">
    <nav class="menu-buttons">

      <button data-link="accueil"><p>Page d'acueille</p>
        <span class="corner-top-right"></span><span class="corner-bottom-left"></span>
      </button>

      <button data-link="match"><p>Jouer un match</p>
        <span class="corner-top-right"></span><span class="corner-bottom-left"></span>
      </button>

    </nav>
  </div>
</div>