<div class="container">
  <header class="arcade-header">
    <h1 class="arcade-title"><%= title %></h1>
    <p class="arcade-subtitle">Je dois Afficher Le tournoi</p>
  </header>
  <button><a href="#" data-link="accueil">Page d'acueille</a></button>
  <button><a href="#" data-link="match">Jouer un match</a></button>
</div>