<div class="container">
  <header class="arcade-header">
    <h1 class="arcade-title"><%= title %></h1>
    <p class="arcade-subtitle">'Prépare ton tournoi et affronte les meilleurs !</p>
  </header>
  <div class="menu-wrapper">
    <nav class="menu-buttons">

      <button data-link="go_to_accueil"><p>Page d'accueil</p>
        <span class="corner-top-right"></span><span class="corner-bottom-left"></span>
      </button>

      <button data-link="go_to_match"><p>Jouer un match</p>
        <span class="corner-top-right"></span><span class="corner-bottom-left"></span>
      </button>

    </nav>
  </div>
</div>