@font-face {
  font-family: "Joystix Mono";
  src: url("./../../util/fonts/joystix_monospace.woff2") format("woff2"),
       url("./../../util/fonts/joystix_monospace.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  font-family: "Joystix Mono", "Press Start 2P", monospace;
  color: #fff;
}
