@import url('./arcade.css');

html, body, #app, .arcade-container {
  height: 100%;
  background: radial-gradient(circle at center, #000 40%, #111 100%);
  overflow: hidden;
}

.screen-content,
.page,
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

