@import url('./arcade.css');

html, body, #app, .arcade-container {
  height: 100%;
  background: radial-gradient(circle at center, #000 40%, #111 100%);
  overflow: hidden;
}

.screen-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.screen-content, .container {
  max-width: 100%;
  max-height: 100%;
  /* overflow: hidden; */
  box-sizing: border-box;
}
