</div>
</div>
</main>


<%- include('popup') %>

<!-- Musique -->
<audio id="arcade-music" loop>
  <source src="./static/util/music/Arcade_music.mp3" type="audio/mpeg">
  Votre navigateur ne supporte pas la lecture audio.
</audio>

</div>
  <script type="module" src="/static/js/main_app.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script> -->
</body>
</html>