</div>
</div>
</main>


<%- include('popup') %>

<!-- Musique -->
<audio id="arcade-music" loop>
  <source src="./static/util/music/Arcade_music.mp3" type="audio/mpeg">
  Votre navigateur ne supporte pas la lecture audio.
</audio>

</div>
  <script src="https://cdn.jsdelivr.net/npm/animejs/dist/bundles/anime.umd.min.js"></script>

  <script type="module" src="/static/js/main_app.js"></script>
</body>
</html>