<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YARE GATRA - YaYa Retro Gaming Transcendance</title>
  <meta name="description" content="Plongez dans l’univers rétro et futuriste de YARE GATRA — un hommage au gaming old-school revisité.">

  <!-- CSS principal -->
  <link rel="stylesheet" href="/static/css/style.css">

  <!-- Favicons -->
  <link rel="icon" type="image/png" sizes="16x16" href="/static/util/ico/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/util/ico/favicon-32x32.png">
  <link rel="shortcut icon" href="/static/util/ico/favicon.ico" type="image/x-icon">

  <!-- Apple / Android -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/util/ico/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/static/util/ico/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="512x512" href="/static/util/ico/android-chrome-512x512.png">

  <!-- Manifest (PWA) Pour telephone -->
  <!-- <link rel="manifest" href="/static/util/ico/site.webmanifest"> -->
</head>

<body>
  <!-- Conteneur principal SPA -->
  <main id="app">
  <div class="arcade-container">
    <div class="grid-bg" aria-hidden="true"></div>
      <div class="arcade-screen">
        <div class="screen-content">
