<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>SPA Game</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <!-- Conteneur principal SPA -->
  <div id="app">
