<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>YARE GATRA</title>
<!-- YaYa Retro Gamming Transsandance -->
 
  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/style.css">

  <!-- Favicon classique -->
  <link rel="icon" type="image/png" sizes="16x16" href="/static/util/ico/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/util/ico/favicon-32x32.png">
  <link rel="shortcut icon" href="/static/util/ico/favicon.ico" type="image/x-icon">

  <!-- Apple touch icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/util/ico/apple-touch-icon.png">

  <!-- Android / PWA -->
  <link rel="icon" type="image/png" sizes="192x192" href="/static/util/ico/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="512x512" href="/static/util/ico/android-chrome-512x512.png">

  <!-- Manifest (pour PWA) -->
  <link rel="manifest" href="/static/util/ico/site.webmanifest">
</head>
<body>
  <!-- Conteneur principal SPA -->
  <div id="app">
