<div class="nav-wrapper">
  <nav class="icon-bar">
    <button id="icon-sound" class="icon" aria-label="Activer / désactiver le son">
      <img src="./static/util/icon/son_on.png" alt="">
    </button>
    <button id="icon-settings" class="icon" aria-label="Paramètres">
      <img src="./static/util/icon/engrenage.png" alt="">
    </button>
  </nav>
</div>