<div class="nav-wrapper">
  <nav class="icon-bar">
    <button data-link="go_to_profile" id="icon-profile" class="icon" aria-label="Retour a la page de profile">
      <img src="/static/util/icon/profile.png" alt="">
    </button>
    <button data-link="go_to_accueil" id="icon-accueil" class="hidden icon" aria-label="Retour a la page d'accueil">
      <img src="/static/util/icon/accueil.png" alt="">
    </button>
    <button data-link="interupteur_du_son" id="icon-sound" class="icon" aria-label="Activer / désactiver le son">
      <img src="/static/util/icon/son_on.png" alt="">
    </button>
    <button data-link="go_to_parametre" id="icon-settings" class="icon" aria-label="Retour a la page paramètres">
      <img src="/static/util/icon/engrenage.png" alt="">
    </button>
  </nav>
</div>