<!-- Pop-up pour lancer la musique -->
<div id="music-popup">
  <p>Cliquez pour lancer la musique !</p>
  <div class="button-container">
    <button id="start-music">PLAY</button>
    <button id="dont-start-music">Non merci</button>
  </div>
</div>
