/* Header */
.arcade-header {
  width: 100%;
  text-align: center;
  border-bottom: var(--border-medium) solid var(--color-primary);
}

.arcade-title {
  margin: 0;
  padding-top: 10px;
  color: var(--text-black);
  text-shadow: -1px -1px 0 var(--text-white), 1px -1px 0 var(--text-white),
               -1px 1px 0 var(--text-white), 1px 1px 0 var(--text-white);
}


