@import url('./bouton_menu.css');

/* Menu */
.menu-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 2px solid rgb(0,255,76); */
}

.nav-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 30px;
}

.arcade-subtitle {
  transition: opacity 0.4s ease;
  opacity: 1;
}

.arcade-subtitle.fade-out {
  opacity: 0;
}
