@import url('./bouton_menu.css');

/* Menu */
.menu-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 2px solid rgb(0,255,76); */
}

.arcade-subtitle {
  display: inline-block;
  transition: opacity 0.25s ease;
  opacity: 1;
  min-height: 1.5em; /* garde la même taille même si le texte change */
  text-align: center;
}
