<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SPA Game</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <!-- Conteneur principal SPA -->
  <div id="app">
    <div class="container">
      <h1>Result</h1>
      <button><a href="/match" data-link>Jouer un match</a></button>
      <button><a href="/tournament" data-link>Créer un tournoi</a></button>
    </div>
  </div>

  <script src="/static/js/app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
</body>
</html>
