<%- include('partials/header') %>

<div class="container">
  <h1><%= title %></h1>
  <button><a href="/" data-link>Page d'acueille</a></button>
  <button><a href="/match" data-link>Jouer un match</a></button>
</div>

<%- include('partials/footer') %>