@import url('./other/reset.css');

@import url('./other/fonts.css');

@import url('./layout/layout.css');

@import url('./components/components.css');

@import url('./animation/animation.css');

@import url('./pages/all_pages.css');

@import url('./other/spa_on_off.css');
